@import '../../../styles/shared/variables';
@import '../../../styles/shared/mixins';
@import '../../../styles/shared/animations';

.full-image {

  &__wrapper {
    @include flex(column, center, center);
    @include size(100%, 100vh);
    position: fixed;
    top: 0;
    left: 0;
    background: $blue--dark;
    box-sizing: border-box;
    z-index: 10;

    .blur-svg {
        display: none;
    }

    @media (max-width: 768px) {
      div {
        &:first-child {
          height: 100%;
        }
      }
    }
  }

  &__slide {
    @include flex(column, center, center);
    @include size(100%, 100%);
    position: relative;

    span {
      display: block;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__image {
    @include flex(row, center, center);
    @include size(75vw, auto);
    position: relative;
    padding: 20px;
    box-sizing: border-box;

    @media (max-width: 768px) {
      min-width: 100vw;
      height: calc(100vh - 56px);
      padding: 0;
    }

    img {
      height: auto;

      @media (max-width: 768px) {
        min-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__pagination-container {
    @include flex(row, space-between, center);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;

    button {
      padding: 10px 15px;
      border: none;
      outline: none;
      background: transparentize($blue--dark, 0.5);
      font-size: 1.5rem;
      color: white;
      cursor: pointer;
      transition: all 0.2s ease;

      &:focus,
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__top-stats {
    @include flex(row, center, center);
    @include size(100%, 56px);
    position: absolute;
    bottom: 0;
    left: 0;
    background: lighten($blue--dark, 2%);

    @media (max-width: 768px) {
      top: 0;
    }

    ul {
      list-style: none;
      padding: 0;
      @include flex(row, space-around, center);
      width: 75vw;

      @media (max-width: 768px) {
        width: 100%;
      }

      li {
        @include flex(row, center, center);
        width: 25%;
        font-family: $font--main;
        font-size: 0.9rem;
        color: white;
        letter-spacing: -1px;

        &:last-child {
          button {
            padding: none;
          }
        }

        i {
          padding: 0 2px;
          box-sizing: border-box;
        }

        a, button {
          background: transparent;
          border: none;
          outline: none;
          font-size: 1.1rem;
          color: white;transition: all 0.2s ease;
          cursor: pointer;

          &:focus,
          &:hover {
            transform: scale(1.1);
            cursor: pointer;
          }
        }
      }
    }
  }

  &__share-underlay {
    @include size(100vw, 100%);
    position: absolute;
    top: 0;
    left: 0;
  }

  &__share-bar {
    @include flex(column, center, center);
    @include size(100%, 100vh);
    position: absolute;
    top: -59px;
    left: 0;
    padding: 6px 0;
    background: transparentize($blue--dark, 1);

    @media (max-width: 768px) {
      top: 10px;
    }

    span {
      @include flex(row, center, center);
      margin: 10px 0;

      @media (max-width: 768px) {
        width: 95%;
      }
    }

    .share-icon {
      @include flex(row, center, center);
      @include size(45px, 65px);
      background: rgb(224, 224, 224);
    }

    input {
      flex-grow: 1;
      height: 65px;
      padding: 0 7px;
      appearance: none;
      outline: 0;
      border: 0;
      border-radius: 0;
      background: rgb(224, 224, 224);
      font-family: $font--main;
      font-size: 1rem;
      color: $black;

      @media (min-width: 769px) {
        min-width: 300px;
      }

      @media (max-width: 768px) {
        width: 50%;
      }
    }

    button {
      @include flex(row, center, center);
      @include size(65px, 65px);
      margin: 0;
      padding: 0;
      background: white;
      border: none;
      font-size: 1rem;
      color: $black;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background: lighten($blue--dark, 40%);
        color: white;
      }
    }
  }
}
