@import '../../../styles/shared/variables';
@import '../../../styles/shared/mixins';
@import '../../../styles/shared/animations';

.full-image {

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    @include flex(column, center, center);
    width: 100%;
    height: 100vh;
    background: $blue--dark;
    box-sizing: border-box;
    z-index: 10;

    @media (max-width: 768px) {
      div {
        &:first-child {
          height: 100%;
        }
      }
    }
  }

  &__slide {
    @include flex(column, center, center);
    width: 100%;
    height: 100%;
    position: relative;

    span {
      display: block;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__image {
    position: relative;
    @include flex(row, center, center);
    box-sizing: border-box;
    padding: 20px;
    width: 75vw;
    height: auto;

    @media (max-width: 768px) {
      min-width: 100vw;
      height: calc(100vh - 56px);
      padding: 0;
      // overflow: hidden;
    }

    img {
      height: auto;

      @media (max-width: 768px) {
        min-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__pagination-container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    @include flex(row, space-between, center);
    box-sizing: border-box;
    padding: 0 10px;

    button {
      background: transparentize($blue--dark, 0.5);
      font-size: 1.5rem;
      color: white;
      outline: none;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:focus,
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__top-stats {
    @include flex(row, center, center);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background: lighten($blue--dark, 2%);

    @media (max-width: 768px) {
      top: 0;
    }



    ul {
      list-style: none;
      padding: 0;
      @include flex(row, space-around, center);
      width: 75vw;

      @media (max-width: 768px) {
        width: 100%;
      }

      li {
        width: 25%;
        @include flex(row, center, center);
        font-family: $font--main;
        font-size: 0.9rem;
        letter-spacing: -1px;
        color: white;

        &:last-child {
          button {
            padding: none;
          }
        }

        i {
          padding: 0 2px;
          box-sizing: border-box;
        }

        a, button {
          background: transparent;
          border: none;
          outline: none;
          font-size: 1.1rem;
          color: white;transition: all 0.2s ease;
          cursor: pointer;

          &:focus,
          &:hover {
            transform: scale(1.1);
            cursor: pointer;
          }
        }
      }
    }
  }

  &__share-bar {
    @include flex(row, center, center);
    width: 100%;
    position: absolute;
    top: -59px;
    left: 0;
    background: transparentize($blue--dark, 1);
    padding: 6px 0;

    @media (max-width: 768px) {
      top: 50px;
    }

    input {
      background: rgb(224, 224, 224);
      border: 0;
      outline: 0;
      font-family: $font--main;
      font-size: 1rem;
      color: $black;
      height: 50px;
      padding: 0 7px;
      min-width: 200px;
    }

    button {
      @include size(50px, 50px);
      color: $black;
      font-size: 1rem;
      border: none;
      background: white;
      margin: 0;
      padding: 0;
    }
  }
}
