@import '../../../styles/shared/variables';
@import '../../../styles/shared/mixins';

.calc-posts {

  &__container {
    @include flex(row, center, center);
    width: 100vw;
  }

  &__post {
    width: 100%;
  }

  &__img-wrapper {
    @include flex(row, center, center);
    position: relative;
    max-height: 370px;
    max-width: 370px;
    overflow: hidden;
    cursor: pointer;

    @media (max-width: 768px) {
      max-width: 100%;
      max-height: 100%;
    }

    img {
      object-fit: cover;
      box-sizing: border-box;
      // margin: 0 10px 10px 10px;
      height: 100%;
      width: 100%;

      @media (max-width: 768px) {
        min-height: 320px;
        // max-width: 320px;
      }
    }

    &:focus,
    &:hover {
      // .insta-grid__info {
      //   opacity: 1;
      // }
    }
  }

  &__image-stats {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    padding: 10px 0;
    @include flex(row, center, center);

    p {
      font-family: $font--main;
      font-weight: 600 !important;
      color: white;
    }
  }

}
