@import '../../styles/shared/animations';

.logo {
  background: url('/images/jt-logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 100%;
  transition: all 0.35s ease;
  animation: fade-in 0.5s ease;

  &--loading {
    transform: translateY(calc(50vh - 25px)) scale(1.7);
  }

  &--clickable {
    cursor: pointer;
  }
}
