@import '../../styles/shared/mixins';
@import '../../styles/shared/variables';

.navigation {

  &__container {
    @include flex(row, center, center);
    margin-top: 100px;
  }

  &__inner {
    width: 100%;
    @include flex(row, center, center);

    button {
      background: transparent;
      color: white;
      border: none;
      outline: none;
      font-family: $font--main;
      font-size: 1rem;
      box-sizing: border-box;
      padding: 5px 10px;
    }
  }
}
