@import '../../styles/shared/mixins';
@import '../../styles/shared/variables';

@import './preset/preset';

.presets {

  &__grid {
    @include flex(row, center, center);
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0 20px 0;
  }
}
