@import '../../styles/shared/mixins';
@import '../../styles/shared/variables';

.top-bar {

  &__container {
    @include flex(row, center, flex-start);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;

    @media (max-width: 540px) {
      z-index: 2000;
    }
  }

  &__logo-box {
    @include flex(row, center, center);
    width: 150px;
    height: 50px;
    border-radius: 0 0 5px 5px;
    background: transparentize($blue--dark, 0.15);
    transform-origin: top;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  &--shrink {
    transform: scale(0.75);
    height: 38px;
  }
}
