@import './styles/base';

#root {
  @include flex(row, center, center);
  background: $blue--dark;
}

.app {

  &__wrapper {
    background-color: $blue--dark;
    max-width: 1200px;
  }

  &--loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: $blue--dark;
  }
}

a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.2s ease;

  &:focus,
  &:hover {
    transform: scale(1.1);
  }
}

.hidden {
  opacity: 0;
}

.remove {
  display: none;
}
